whirlpool/whirlpoolemea/crm-async-integration/node/wsdl/CreateModifyConsumer_PO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SI_CreateModifyConsumer_Out" targetNamespace="urn:whirlpool.com:D2C:ConsumerData" xmlns:rfc="urn:sap-com:document:sap:rfc:functions" xmlns:p1="urn:whirlpool.com:D2C:ConsumerData" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation/>
	<wsp:UsingPolicy wsdl:required="true"/>
	<wsp:Policy wsu:Id="OP_SI_CreateModifyConsumer_Out"/>
	<wsdl:types>
		<xsd:schema targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:sap-com:document:sap:rfc:functions">
			<xsd:element name="Z_ES_CREACON_MYACC.Response">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="CS_ADDRESS_DATA" type="ZZMYAC_ADDRESS_DATA" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>My Account - Consumer Address Data</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="CS_NAME_DATA" type="ZZMYAC_NAME_DATA" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>My Account - Consumer Name Data</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="CT_MKT_ATTRIB" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>My Account - Consumer Marketing Attributes</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" type="ZZISB_MKT_INFO_N" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="ET_RETURN" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Error Messages</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" type="BAPIRET2" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Z_ES_CREACON_MYACC">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="CS_ADDRESS_DATA" type="ZZMYAC_ADDRESS_DATA" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>My Account - Consumer Address Data</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="CS_NAME_DATA" type="ZZMYAC_NAME_DATA" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>My Account - Consumer Name Data</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="CT_MKT_ATTRIB" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>My Account - Consumer Marketing Attributes</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" type="ZZISB_MKT_INFO_N" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="CRM_BP_ID" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>CRM Business Partner ID</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="10"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="WEB_CHG_DATE" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Web Consumer ID Changed Date in CHAR format</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="8"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="WEB_CHG_TIME" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Web Consumer ID Changed Time in CHAR format</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="6"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="WEB_CRT_DATE" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Web Consumer ID Create Date in CHAR format</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="8"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="WEB_CRT_TIME" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Web Consumer ID Create Time in CHAR format</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="6"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="WEB_ID" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>My Account WEB ID</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="20"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="BAPIRET2">
				<xsd:annotation>
					<xsd:documentation>Return Parameter</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="TYPE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Message type: S Success, E Error, W Warning, I Info, A Abort</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Message Class</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="NUMBER" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Message Number</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3"/>
								<xsd:pattern value="\d+"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESSAGE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Message Text</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="220"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="LOG_NO" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Application log: log number</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="LOG_MSG_NO" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Application log: Internal message serial number</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="6"/>
								<xsd:pattern value="\d+"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESSAGE_V1" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Message Variable</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESSAGE_V2" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Message Variable</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESSAGE_V3" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Message Variable</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESSAGE_V4" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Message Variable</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PARAMETER" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Parameter Name</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="32"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ROW" type="xsd:integer" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Lines in parameter</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="FIELD" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Field in parameter</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SYSTEM" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Logical system from which message originates</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZZMYAC_ADDRESS_DATA">
				<xsd:annotation>
					<xsd:documentation>My Account - Consumer Address Data</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="HOUSE_NUM" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>House Number</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="STREET1" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Street</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="60"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="STREET2" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Street 2</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="STREET3" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Street 3</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CITY" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>City</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DISTRICT" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>District</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="STATE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Region (State, Province, County)</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="COUNTRY" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Country Key</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="POST_CODE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>City postal code</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="EMAIL_ADDRESS" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>E-Mail Address</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="241"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="HOUSE_PHONE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Telephone no.: dialling code+number</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="WORK_PHONE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Telephone no.: dialling code+number</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MOBILE_PHONE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Telephone no.: dialling code+number</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZZISB_MKT_INFO_N">
				<xsd:annotation>
					<xsd:documentation>Marketing Data new</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="ATT_SET" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>CRM Marketing: Target Group Selection - Attribute Set</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="18"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ATT_NAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Characteristic Name</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ATT_VALUE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Marketing attribute value</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="150"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZZMYAC_NAME_DATA">
				<xsd:annotation>
					<xsd:documentation>My Account - Consumer Name Data</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="CRM_BP_ID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Business Partner Number</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="TITLE_KEY" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Form-of-Address Key</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="FIRST_NAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>First name of business partner (person)</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MIDDLE_NAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Middle name or second forename of a person</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="LAST_NAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Last name of business partner (person)</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DATE_OF_BIRTH" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Date in CHAR format</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CORR_LANGUAGE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>2-Character SAP Language Code</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CONTACTABLE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Business Partner: Contact Permission</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CREATE_DATE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Date in CHAR format</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CREATE_TIME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Character field of length 6</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="6"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="LAST_CHANGE_DATE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Date in CHAR format</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="LAST_CHANGE_TIME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Character field of length 6</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="6"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="VIP" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Generated Data Element VIP</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="rfc.Z_ES_CREACON_MYACC.Input">
		<wsdl:documentation/>
		<wsdl:part name="parameters" element="rfc:Z_ES_CREACON_MYACC"/>
	</wsdl:message>
	<wsdl:message name="rfc.Z_ES_CREACON_MYACC.Output">
		<wsdl:documentation/>
		<wsdl:part name="parameters" element="rfc:Z_ES_CREACON_MYACC.Response"/>
	</wsdl:message>
	<wsdl:portType name="SI_CreateModifyConsumer_Out">
		<wsdl:documentation/>
		<wsdl:operation name="SI_CreateModifyConsumer_Out">
			<wsdl:documentation/>
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_SI_CreateModifyConsumer_Out"/>
			</wsp:Policy>
			<wsdl:input message="p1:rfc.Z_ES_CREACON_MYACC.Input"/>
			<wsdl:output message="p1:rfc.Z_ES_CREACON_MYACC.Output"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SI_CreateModifyConsumer_OutBinding" type="p1:SI_CreateModifyConsumer_Out">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		<wsdl:operation name="SI_CreateModifyConsumer_Out">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<wsdl:input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SI_CreateModifyConsumer_OutService">
		<wsdl:port name="HTTPS_Port" binding="p1:SI_CreateModifyConsumer_OutBinding">
			<soap:address location="https://emeaservicesq.cert.whirlpool.com/eiq/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_VTEX&amp;receiverParty=&amp;receiverService=&amp;interface=SI_CreateModifyConsumer_Out&amp;interfaceNamespace=urn%3Awhirlpool.com%3AD2C%3AConsumerData" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>